<storybook-header/>
<lib-example-component-library></lib-example-component-library>
<lib-sample [name]="'Paramdeep Singh'"></lib-sample>
<!-- <br>
<p>Below is sample component</p>
<storybook-button [primary]="true" [backgroundColor]="'red'" [label]="'this is an imported button'"></storybook-button> 
<p>Below is angular icon component directly</p>
<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
<mat-icon svgIcon="phone"></mat-icon> -->
<router-outlet></router-outlet>