@param:registry=https://pkgs.dev.azure.com/singhparamdeep95/paramdeepsingh/_packaging/customNpm/npm/registry/                         
registry=https://registry.npmjs.org/                      

always-auth=true